@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box; /*border box gör att man kan ställa in bredd och höjd utan att ev padding adderas */
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  
  

  /*
    För att centrera och begränsa bredd av innehåll till 1150 px. 
    På alla sektioner:

    margin: auto;
    max-width: 1150px;
    white-space: nowrap;

    För att text ska brytas normalt måste
    white-space:normal; 
    läggas in i sektioner med text
    */
}
/*navigation */
li,
a {
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 10px;
  border-bottom: solid 1px black;
  margin: auto;
  max-width: 1150px;
  white-space: nowrap;
}

.logo {
  cursor: pointer;
  margin: auto;
  padding-left: 10px;
}
.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0 15px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  color: #7e99a3;
}

/*startsida/Work */
.work_start_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #5f6a7e;
  background-image: url("images/bg_img_start.png");
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 5%;

  margin: 15px auto;
  max-width: 1150px;
  white-space: nowrap;
}

.work1 h1 {
  white-space: normal;
  font-size: 25px;
}
.work1 h1 span {
  font-size: 2.3em;
}

.ingress {
  white-space: normal;
  max-width: 450px;
  padding: 30px 0;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 50px;
}

.work1 {
  flex: 1;
}

.work2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  white-space: normal;
}

.w2_project_card {
  background-color: white;
  flex-basis: 450px;
  min-height: 370px;
  margin-right: 30px;
  margin-bottom: 70px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.project_thumb {
  width: 100%;
}

.projektgrupp {
  width: 1000px;
 }
.projektgrupp h2 {
  font-size: 25px;
  margin-bottom: 14px;
  color: white;
}
.projektgrupp h2 span {
  color: black;
}

.project_thumb:hover {
  opacity: 0.9;
  transition: all 0.3s ease 0s;
}

.card_text h3{
font-size: 20px;
font-weight: bold;
margin: 7px 5px 5px;

}

.card_text p{
  font-size: 18px;
  margin: 0 5px 5px ;
  line-height: 130%;
  }

/*sida Om mig */
.om_mig_wrapper {
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin-top: auto;

  margin: 15px auto 0;
  max-width: 1150px;
  white-space: nowrap;
}
/*Inledningsblock (sida Om mig) */
.inledning {
  width: 100%;
  height: 100%;
  background-color: #d1dcdd;
  clip-path: polygon(0 0, 100% 0, 100% 34%, 0 45%);
  position: absolute;
  z-index: 1;
  padding-top: 5%;
  display: flex;

  max-width: 1150px;
  white-space: nowrap;
}
.inledn_bild_container {
  flex: 1;
  padding: 0 2%;
}

.inledn_text {
  flex: 2;
  padding-left: 15px;
}

.inledn_text h1 {
  white-space: normal;
  font-size: 25px;
}
.inledn_text h1 span {
  font-size: 2.3em;
}
.nyckelord {
  white-space: normal;
  max-width: 500px;
  padding: 30px 0;
  font-size: 18px;
  line-height: 130%;
  font-weight: bold;
  color: rgb(12, 12, 71);
}

.inledn_bild_container {
  display: flex;
  justify-content: center;
}

.inledn_bild_container img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/*Spalter (sida Om mig) */
.content_wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  margin-top: auto;

  margin: 0 auto 15px;
  max-width: 1150px;
  white-space: nowrap;
  white-space: normal;
}

.content_wrapper h2 {
  font-size: 35px;
  padding-bottom: 20px;
}

.content_wrapper p {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 50px;
}

.content_wrapper h3 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.spalt1_wrapper {
  flex: 1;
  padding: 0 2%;
}

.spalt1 {
  padding: 0 5% 0 15%;
}

.spalt2_wrapper {
  flex: 2;
  padding-left: 40px;
  padding-right: 70px;
}

.avdelare {
  width: 70px;
  border-top: #a5ebe2 10px solid;
  margin: 35px 0;
}

/*Sida projekt */

.projekt_startbanner {
  position: relative;
  margin: 15px auto 0;
  max-width: 1150px;
  background-image: url(images/projekt1_startbild.jpg);
  background-repeat: no-repeat;
}

.projekt_startbanner_kampanjer {
  position: relative;
  margin: 15px auto 0;
  max-width: 1150px;
  background-image: url(images/kampanjer_start.jpg);
  background-repeat: no-repeat;
}

.projekt_start_text {
  
  padding-top: 5%;
  padding-left: 5%;
  white-space: normal;
  max-width: 450px;
  height: 100%;
  
  /*background: rgb(0, 0, 0);  
  background: rgba(0, 0, 0, 0.2);*/
}

.projekt_start_text h1 {
  white-space: normal;
  font-size: 30px;
}

.projekt_start_text span {
  font-size: 2.3em;
}

.ingress_projekt {
  
  max-width: 450px;
  padding: 30px 0;
  font-size: 22px;
  line-height: 130%;
  
}

.projektinfo_ruta {
  background-color: #4e5865;
  padding: 3% 50px 0;
  display: flex;

  margin: auto;
  max-width: 1150px;
  white-space: nowrap;
}

.projektinfo_ruta_link {
  background-color: #4e5865;
  padding: 0 50px 2%;
  display: flex;
  justify-content: left;

  margin: auto;
  max-width: 1150px;
  white-space: nowrap;
}

.projektinfo_child1 {
  flex: 2;
  white-space: normal;
  padding-right: 7%;
}

.projektinfo_child2,
.projektinfo_child3 {
  flex: 1;
  white-space: normal;
}

.projektinfo_ruta p,
li {
  font-size: 18px;
  line-height: 130%;
  color: white;
}

.projektinfo_ruta p {
  padding-bottom: 7%;
}
.projektinfo_ruta li {
  margin-left: 10px;
}



.projektinfo_ruta h3 {
  font-size: 17px;
  padding-bottom: 4%;
  color: white;
}
.linje_inforuta{
    width: 100px;
  border-top: #a5ebe2 4px solid;
  margin: 5px 0;
}

/*artiklar. Sida Projekt */
.projekt_artiklar_wrapper{
    margin: auto;
  max-width: 1150px;
  white-space: nowrap;
}

.projekt_text_spalt p{
font-size: 19px;
line-height: 145%;
padding-bottom: 8%;
}
.projekt_artikel_color1 {
  background-color: #B3CFF4;
  
  
}
.projekt_artikel_color2 {
  background-color: #cce0f9;
}

.projekt_artikel_color3 {
  background-color: #f4f4f4;
}

.projekt_container_text {
  display: flex;
  align-items: flex-start;
  padding: 3% 5%;
}
.projekt_container_bild{
  padding: 2% 10% 2% 0;
  padding: 3% 5%;
}

.projekt_container_bild img{
  width: 100%;
}


.projekt_text_spalt {
  flex-basis: 460px;
  white-space: normal;
  margin-right: 6%;
}
.avdelare_artikel_projekt {
  width: 70px;
  border-top: white 10px solid;
  margin: 35px 5%;

  
}
.projekt_artiklar_wrapper h2 {
  font-size: 55px;
  padding: 3% 5%;
}
.projekt_artiklar_wrapper h3 {
    font-size: 23px;
    padding-bottom: 3%;
  }

  .work2_youtube {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    white-space: normal;
    padding-left: 5%;
  }
 
  .iframecontainer {
    position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
    
  
  }
  .iframecontainer iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }


/*Sida Kontakt */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  min-width: 300px;
}

.button:hover{
  background-color: #7E99A3;
  transition: all 0.7s ease 0s; ;
}

.kontakt_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #5f6a7e;
  background-image: url("images/bg_img_start.png");
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 5%;

  margin: 15px auto;
  max-width: 1150px;
  white-space: nowrap;
}

.kontaktruta {
  background-color: white;
  max-width: 700px;
  height: 400px;
  margin-top: 2%;
  display: flex;
}
.kontakt{
  display: flex;
  align-items: center;
  justify-content: center;
}


.kontaktinfo{
  padding: 7%;
}




/*Footer */
footer {
  background-color: #d1dcdd;
  padding: 3% 5%;
  margin: auto;
  max-width: 1150px;
  white-space: nowrap;
  border-top: white solid 3px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: normal;
  
}
.footer_info,
a {
  font-size: 20px;
  line-height: 170%;
  padding: 2px 0;
}
.footer_info span {
  font-weight: bold;
  padding: 0 7px;
}






/*Mobilvy - skärmar smalare än 600px */
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  header {
    display: flex;
    justify-content: flex-start;
    padding: 35px 0 10px;
    border-bottom: solid 0px black;
  }

  .footer_info,
  a {
    font-size: 18px;
  }

  /*(mobilvy) Startsida,work */
  .work_start_wrapper {
    width: 100%;
    margin-top: 10px;
  }
  .work1 h1 {
    font-size: 18px;
    padding-top: 30px;
  }

  .ingress {
    font-size: 17px;
  }
  .w2_project_card img{
width: 100%;
height: auto;
  }

  .projektgrupp{
    width: 100%;
    white-space: normal;
  }


  /*(mobilvy) Om mig */
  .om_mig_wrapper {
    width: 100%;
    margin-top: 10px;
  }
  .inledning {
    flex-direction: column;
    height: 115%;
  }

  .inledn_bild_container {
    flex: 0.5;
  }
  .inledn_bild_container img {
    width: 150px;
    height: 150px;
  }

  .inledn_text {
    flex: 3;
    padding: 0;
  }

  .inledn_text h1 {
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
  }

  .nyckelord {
    display: none;
  }
  .content_wrapper {
    width: 100%;
    flex-direction: column-reverse;
  }

  .spalt1_wrapper {
    background-color: #e1ecf8;
    padding-top: 20px;
  }

  .spalt1 {
    padding: 0 40px;
  }

  /*(mobilvy) Projekt 1 */

  .projekt_startbanner {
    width: 100%;
    background-image: url(images/projekt1_startbild_mobil.png);
  }

  .projekt_start_text h1 {
    white-space: normal;
    font-size: 22px;  
  }

  .projekt_start_text {
    min-height: 300px;   
  }

  .ingress_projekt {
    display: none;
   
      }
    
      .artikelbild_right{
        width: 80%;
      }
      

     
  .projektinfo_ruta {
    flex-direction: column;
    width: 100%;
    padding-top:4%;
  }
  .projektinfo_ruta_link {
    flex-direction: column;
    width: 100%;
    padding: 0 5% 4%;
  }
  
  .projekt_artiklar_wrapper{
    width: 100%;
    white-space: normal;
  }
  .projekt_artikel_color1, .projekt_artikel_color2, .projekt_artikel_color3{
    flex-direction: column;
    width: 100%;
    white-space: normal;
  }

  .projektinfo_ruta {
    
    border-top: #4e5865 20px solid;
  }
  .projektinfo_ruta h3 {
    font-size: 17px;
    padding-bottom: 4px;
  }

  .projektinfo_ruta li {
    font-size: 18px;  
  }
  .projektinfo_ruta p{
    font-size: 18px;
    line-height: 150%; 
  }

  .projektinfo_child3 {
    padding-top: 5%;
  }


  .projekt_container_text {
  display: block;
  }

  .projekt_artiklar_wrapper{
      width:100%;
      white-space: normal;
  }
  .projekt_artiklar_wrapper h2{
    font-size: 40px;
}
/*(mobilvy) projektsida -  kampanjer */
.projekt_startbanner_kampanjer{
width: 100%;
}
.work2_youtube{
    width: fit-content;    
}


  /*(mobilvy) Footer*/
  footer {
    width: 100%;
  }

}




/* skärmar bredare än 600px */
@media only screen and (min-width: 601px){
    .linje_inforuta{
        display: none;
    }
}

/*- skärmar smalare än 900px */
@media only screen and (max-width: 900px) {
  
/*- projektsidor */
  .projekt_container_text {
    display: block;
    }

    .projekt_text_spalt {
      max-width: 460px;
      white-space: normal;
      margin-right: 6%;
    }
    .projekt_artiklar_wrapper{
      width:100%;
      white-space: normal;
  }
  .artikelbild_right{
    width: 80%;
  }
   
  .w2_project_card img{
    width: 100%;
      }

      .projektgrupp{
        width: 100%;
        white-space: normal;
      }
}
