@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


*{
    box-sizing: border-box; /*border box gör att man kan ställa in bredd och höjd utan att ev padding adderas */ 
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
    /*
    För att centrera och begränsa bredd av innehåll till 1150 px. 
    På alla sektioner:

    margin: auto;
    max-width: 1150px;
    white-space: nowrap;

    För att text ska brytas normalt måste
    white-space:normal; 
    läggas in i sektioner med text
    */

}
/*navigation */ 
li, a{
font-size: 20px;
font-weight: 400;
color: black;
text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 35px 0 10px;
    border-bottom: solid 1px black;
    margin: auto;
    max-width: 1150px;
    white-space: nowrap;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.navLinks{
    list-style: none;
}

.navLinks li{
   display: inline-block;
    padding:0 15px 
   
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #7e99a3;
}



/*startsida/Work */ 
.work_start_wrapper{
    display: flex;
    flex-direction: column;
    background-color: #5F6a7e;
    background-image: url("images/bg_img_start.png");
    background-repeat: no-repeat;
    margin-top: 20px;
    padding: 5%;

    margin: 15px auto;
    max-width: 1150px;
    white-space: nowrap;
}


.work1 h1{
    white-space: normal;
    font-size: 25px;
    }
.work1 h1 span{
font-size: 2.3em;
}

.ingress{
    white-space: normal;
    max-width: 450px;
    padding: 30px 0;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 50px;
}

.work1{
    flex: 1;
}

.work2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1;
}
.work2 div{
    background-color: white;
    flex-basis: 450px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 70px;
    padding: 10px;
}

.projektgrupp h2{
    font-size: 25px;
    margin-bottom: 10px;
    
}


.img_thumb{
    width: 100%;
}

/*sida Om mig */ 
.om_mig_wrapper{
    height:450px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    margin-top: auto;

    margin: 15px auto 0;
    max-width: 1150px;
    white-space: nowrap;
}
/*Inledningsblock sida Om mig */ 
.inledning{
    width:100%;
    height: 100%;
    background-color: #D1DCDD;
    clip-path: polygon(0 0, 100% 0, 100% 34%, 0 45%);
    position: absolute;
    z-index: 1;
    padding-top: 5%;
    display: flex;

    max-width: 1150px;
    white-space: nowrap; 
}
.inledn_bild_container{
flex: 1;
padding: 0 2%;
}

.inledn_text{
    flex: 2;
    padding-left: 15px;
    }

    .inledn_text h1{
        white-space: normal;
        font-size: 25px;
        }
    .inledn_text h1 span{
    font-size: 2.3em;
    }
    .nyckelord{
        white-space: normal;
        max-width: 500px;
        padding: 30px 0;
        font-size: 18px;
        line-height: 130%;
        font-weight: bold;
        color: #5f6a7e;
    }


.inledn_bild_container{
display: flex;
justify-content: center;

}

.inledn_bild_container img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    
}

/*Content-spalter sida Om mig */ 
.content_wrapper{

    display: flex;
    flex-direction:row;
    background-color: #f4f4f4;
    margin-top: auto;

    margin: 0 auto 15px;
    max-width: 1150px;
    white-space: nowrap;
    white-space:normal; 
}

.content_wrapper h2{
font-size: 35px;
padding-bottom: 20px;
}


.content_wrapper p{
    font-size: 18px;
    line-height: 130%;
    margin-bottom:50px;
    }


.content_wrapper h3{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    }

.spalt1_wrapper{
flex:1;
padding: 0 2%;
}


.spalt1{
    padding: 0 5% 0 15%;
}

.spalt2_wrapper{
    flex:2;
    padding-left: 40px;
    padding-right: 70px;
}

.avdelare{
    width: 70px;
    border-top: #a5ebe2 10px solid;
    margin: 35px 0;
}


/*Footer */ 
footer{
    background-color: #D1DCDD;
    padding:40px;
    margin: auto;
    max-width: 1150px;
    white-space: nowrap;
}

/*Mobilvy */ 
@media only screen and (max-width: 600px) {
    .logo{
        display: none;
    }

    header{
        display: flex;
        justify-content: flex-start;
        padding: 35px 0 10px;
        border-bottom: solid 0px black;
    }

    /*(mobilvy) Startsida,work */ 
    .work_start_wrapper{
        width: 100%;
        margin-top: 10px;
    }
    .work1, .inledn_text h1{
        font-size: 18px;
        padding-top: 30px;
        }
      
            .ingress{
                font-size: 17px;
            }

    /*(mobilvy) Om mig */ 
 .om_mig_wrapper{
                width: 100%;
                margin-top: 10px;
            }
            .inledning{
                flex-direction: column;
                height: 115%;
                }

                .inledn_bild_container{
                    flex: 0.5;
                    
                }
                .inledn_bild_container img{
                    width: 150px;
                    height: 150px;
                }
                
                .inledn_text{
                    flex: 3;
                    padding: 0;
                    }
                
                .inledn_text h1{
                        text-align: center;
                        }

                        .nyckelord{
                            display: none;
                        }
    .content_wrapper{
        width: 100%;
        flex-direction: column-reverse;
    }

    .spalt1_wrapper{
        background-color: #cce0f9;
        opacity: 0.7;
        padding-top: 20px;
        }
        
        
        .spalt1{
            padding: 0 40px;
        }
}